@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

header {
  --background-image-lazy: url("/header-desktop.jpg");
  background-image: var(--background-image-lazy);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

footer {
  --background-image-lazy: url("/footer-desktop.jpg");
  background-image: var(--background-image-lazy);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

@media screen and (max-width: 640px) {
  header {
    --background-image-lazy: url("/header-mobile.jpg");
    background-image: var(--background-image-lazy);
    background-size: cover; 
    background-position: 50%;
    background-attachment: scroll;
  }

  footer {
    --background-image-lazy: url("/footer-mobile.jpg");
    background-image: var(--background-image-lazy);
    background-size: cover; 
    background-position: 50%;
    background-attachment: scroll; 
  }
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 900px) {
  .card {
    height: 180px;
  }
}

@media screen and (max-width: 640px) {
  .card {
    height: 150px;
  }
}

@media screen and (max-width: 540px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card {
    height: 220px;
  }
}

@media screen and (max-width: 440px) {
  .card {
    height: 180px;
  }
}
